:root {
    --main-color:#7C9CBF;
    --secondary-color: #2C2738;
    --text-color:#756F86;
    --actived-color:#0880AE;
    --white-color:#fff;
    --border-color:#DBE2EA;
    --failed-color:#FF7171;
    --light-color:#B1B5BF;

    --main-font:'IBM Plex Sans', sans-serif;

}